
body{
    background-color: #140f34;
}
.calculatorBoy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
table {
    background: #1f1d9f;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 1px 1px 10px black;
}
td{
    text-align: center; 
}
input[type="button"] {
    width: 50px;
    height: 40px;
    background: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    box-shadow: inset 0px 3px 10px #525252;
    margin-bottom: 8px;
    border: 1px solid #ababab;
    border-radius: 3px;
}
input[type="text"] {
    width: 300px;
    height: 50px;
    text-align: right;
    padding: 5px 20px;
    outline: none;
    font-size: 30px;
    margin-bottom: 20px;
}