#main {
    background: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    background: skyblue;
    border: 5px solid white;
    border-radius: 3px;
    padding: 40px;
    text-align: center;
}
h2#title {
    font-size: 50px;
    color: white;
    margin-bottom: 0;
}
h3#counter {
    font-size: 40px;
    color: white;
}
.btn-container {
    display: flex;
    gap: 20px;
}
.btn {
    padding: 10px 30px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 0px 4px #8b8b8b;
}
.btn:hover{
    background-color: pink;
    color: white;
}